@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
  font-family: 'Lato', sans-serif;
}
body{
  background-color: #F0DDE2;
}
#columntwo{
    width: 61.666667%;
    background: #564B4C ;
    margin-bottom: 9px;
    margin-top: 6em;
    border-radius: 8px;
    padding-left: 2em;
    padding-right: 2em;
    margin-left: 262px;
    margin-right: 1em;
    height: 100%;
}
#columnthree{
    margin-left: 71em;
    position: fixed;
    top: 80px;
    padding-top: 29px;
    padding-bottom: 0;
    height: 100%;
    width: 219px;
    background-color: #564B4C;
}
pre.result {
  padding: 11px;
  font-size: 14px;
  overflow-x: auto;
  border-radius: 13px;
  margin-top: 11px;
}
.result {
  background: white;
  border: 1px solid #d6d6d6;
}
.fHuvEA{
  position: fixed;
  width: -webkit-fill-available;
}  

.wrapper
{
	padding-bottom: 50px;
}

.divider
{
  position: initial;
	margin-top: 50px;
  margin-bottom: 50px;
	height: 1px;
  background-color: rgb(117, 182, 182);
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0px;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(15, 143, 160), transparent);
}
article{
  font-size: large;
  margin-bottom: 10px;
}
strong{
  font-weight: bold;
}
p{
  margin-left: 5px;
}
div#sublst{
  margin-left:56px;
}
p#subcnt{
  margin-top: 25px;
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
h1{
  font-size:xx-large;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}